body {
  background-color: #172b4d;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 10px;
  /* justify-content: flex-start; */
  background-color: #2b3e5c;
  border-radius: 10px;
  margin: 20px;
  max-height: 115px;
  overflow: hidden;
  wrap: nowrap;
}

.flex-item-column {
  flex: 1;
  /* background-color: black; */
  color: white;
  border: 1px solid black;
  padding-left: 10px;
  padding-top: 5px;
  font-family: Inter;
  flex-direction: column;
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
}

.flex-item-row {
  flex: 2;
  /* background-color: black; */
  color: white;
  border: 1px solid black;
  padding-left: 0px;
  padding-top: 5px;
  font-family: Inter;
  font-size: 13px;
  flex-direction: column;
  display: flex;
  gap: 7px;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
}

.flex-item-row-space-between {
  flex: 1;
  /* background-color: black; */
  color: white;
  border: 1px solid black;
  padding-left: 0px;
  padding-top: 5px;
  font-family: Inter;
  font-size: 13px;
  flex-direction: column;
  display: flex;
  gap: 7px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-item1 img {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.flex-item3 {
  align-items: flex-end;
  gap: 50px;
  /* padding-bottom: 10px; */
  /* padding-right: 10px; */
}

.flex-grow {
  flex-grow: 1;
}

.horizontal-group-start {
  display: flex;
  flex-direction: row; /* Keeps Test and Draft side by side */
  gap: 15px; /* Matches the gap in flex-item-row */
  justify-content: flex-start;
}

.horizontal-group-end {
  display: flex;
  flex-direction: row; /* Keeps Test and Draft side by side */
  gap: 15px; /* Matches the gap in flex-item-row */
  justify-content: flex-end;
  margin-right: 10px;
}

.button-style {
  display: flex;
  font-size: 17px;
  max-width: 150px;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 18px;
}
